.Messages {
  width: 100%;
  max-width: 100vw;
  height: calc(100vh);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}

@media (min-width: 768px) {
  .Messages {
    height: calc(100vh - 20px);
  }
}
