.Messages {
  width: 100%;
  max-width: 100vw;
  height: calc(100vh);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .Messages {
    height: calc(100vh - 20px);
    margin-top: 10px;
  }
}
