.EventDetail {
  max-width: 400px;
  background: #4b4b54;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
}

.EventDetail .event-container {
  display: flex;
}

.EventDetail .icon {
  display: flex;
  justify-content: center;
  width: 15%;
}

.EventDetail .event-detail-container {
  width: 85%;
}

.EventDetail .event-detail-container p {
  margin: 0;
  margin-bottom: 5px;
}

.EventDetail .event-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.EventDetail .event-date {
  font-size: 0.8rem;
}

.EventDetail .event-location {
  font-size: 0.8rem;
  color: #a0a2ba;
}

.EventDetail .person {
  display: flex;
  font-size: 0.8rem;
  color: #a0a2ba;
  margin-bottom: 0.1rem;
}

.EventDetail .name {
  display: flex;
  align-items: center;
}

.EventDetail .person svg {
  margin-right: 0.5rem;
}

.EventDetail .person p {
  margin: 0;
}

.EventDetail .show-button-container {
  display: flex;
  justify-content: center;
}

.EventDetail .people-going {
  display: flex;
  font-size: 0.8rem;
  color: #a0a2ba;
  margin: 0;
}

.EventDetail .people-going svg {
  margin-right: 0.2rem;
}

.EventDetail .people-going p {
  margin: 0;
  display: flex;
  align-items: center;
}

.EventDetail .member-icon {
  height: 19px;
  width: 19px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: center;
}

.EventDetail .member-icon-img {
  max-height: 150% !important;
  max-width: 150% !important;
}

.EventDetail .button-container form {
  display: flex;
  justify-content: center;
}

.EventDetail .button-container button {
  margin-top: 10px;
  width: 90%;
  height: 25px;
  background: #6083ff;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  border: none;
}
