.ShowDetailsTemplate {
  height: 100vh;
  overflow-y: scroll;
}

.ShowDetailsTemplate .back-button-container {
  padding: 3rem 1rem;
}

.ShowDetailsTemplate svg {
  cursor: pointer;
}

.ShowDetailsTemplate h1 {
  text-align: center;
  margin-top: 0;
}
