.RoomHeader {
  font-family: "Ubuntu";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}

.RoomHeader h1 {
  margin: 1rem;
}

.RoomHeader .link-container {
  vertical-align: middle;
  font-size: 0.9rem;
}

.RoomHeader .link-container svg {
  vertical-align: inherit;
  margin-right: 0.5rem;
}
