.SideNav {
  min-width: 80px;
  max-width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  /* border-right: 2px solid #ebeff8; */
  /* background-color: #56597b; */
  /* position: fixed;
  display: absolute;
  z-index: 100;
   */
  overflow-x: hidden;
}

.SideNav .item-link {
  color: white;
  text-decoration: none;
}

.SideNav .icon-group > h5 {
  margin-top: 5px;
  margin-bottom: 50px;
  color: white;
  text-align: center;
}

.SideNav .icon-group {
  margin: 15px auto;
  cursor: pointer;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SideNav .icon-group:hover {
  font-size: 18px;
}

.SideNav .icon-group span {
  margin: auto;
  color: white;
}
