.NewGroupSuccessModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewGroupSuccessModal .modal {
  background-color: #353535;
  border: 4px solid #353535;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Ubuntu";
  z-index: 10;
}

.NewGroupSuccessModal h2,
h4 {
  text-align: center;
}

.NewGroupSuccessModal label {
  font-weight: bold;
  font-size: 14px;
}

.NewGroupSuccessModal .copy-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  border-radius: 15px;
  outline: none;
  border: none;
  margin: 5px auto 50px auto;
  max-width: 300px;
  background-color: #4b4b54;
  position: relative;
}

.NewGroupSuccessModal .copy-link span {
  margin: 5px;
  cursor: pointer;
}

.NewGroupSuccessModal .copy-success {
  position: absolute;
  right: 0;
  top: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #6083ff;
}

.NewGroupSuccessModal input {
  width: 80%;
  height: 30px;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: #4b4b54;
  margin-left: 10px;
}

.NewGroupSuccessModal .done-btn {
  background-color: #6083ff;
  border-radius: 15px;
  border: 1px solid #6083ff;
  color: white;
  font-weight: bold;
  line-height: 35px;
  width: 140px;
  cursor: pointer;
  margin: 0 auto 20px auto;
  display: block;
  text-decoration: none;
  text-align: center;
}
