.NewGroupPage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #3c3e44;
}

@media only screen and (min-width: 768px) {
  .NewGroupPage div.Groups {
    /* margin-right: 0px; */
  }
}
