.MessageHeader {
  height: 80px;
  background-color: #56597b;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0px 14px 0px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MessageHeader h1 {
  color: white;
  text-align: center;
  display: inline-block;
}

.MessageHeader .right-arrow {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.MessageHeader .left-arrow-link {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
