.GroupItem {
  font-family: "Ubuntu";
  border-top: 1px solid #dadeff;
  padding: 10px 20px 5px 20px;
  padding-top: 10px;
  height: 80px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 0.5fr 1.7fr 0.8fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "group-icon group-name time"
    "group-icon text-preview text-preview"
    "participants participants participants";
}

.GroupItem:hover {
  background-color: #e8eafc;
}
/******************** Icon pictures ******************/
.GroupItem .group-icon {
  grid-area: group-icon;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.GroupItem .member-icon {
  height: 19px;
  width: 19px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: center;
}

.GroupItem .member-icon > img {
  max-height: 150%;
  max-width: 150%;
}

.GroupItem .group-name {
  grid-area: group-name;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: auto;
  overflow-x: hidden;

  /* white-space: nowrap; */
}
.GroupItem .text-preview {
  grid-area: text-preview;
  color: grey;
  white-space: nowrap;
  overflow-x: hidden;
  font-size: 14px;
}
.GroupItem .time {
  grid-area: time;
  font-size: 14px;
  text-align: right;
}
.GroupItem .participants {
  display: flex;
  flex-direction: row;
  grid-area: participants;
}
