.GroupCategory > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  height: 50px;
  font-family: "Ubuntu";
}

.GroupCategory > header > h2 {
  font-size: 22px;
}

.GroupCategory .message-link {
  text-decoration: none;
  color: black;
}
