.NewGroup {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-color: #4b4b54;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewGroup .menu-icon {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 200;
  color: white;
}
