.PollDetailOption .voting-details {
  display: flex;
  justify-content: center;
}

.PollDetailOption .button-container {
  width: 15%;
}

.PollDetailOption .loading {
  background: #707070;
  color: white;
}

.PollDetailOption .button-container form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PollDetailOption .button-container button {
  width: 20px;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  background: #6083ff;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  border: none;
}

.PollDetailOption .details-container {
  width: 85%;
}

.PollDetailOption .option-container {
  display: flex;
  justify-content: space-between;
}

.PollDetailOption .option-name-container {
  width: 50%;
}

.PollDetailOption .votes-container {
  display: flex;
}

.PollDetailOption .current-vote {
  height: 100%;
  background-color: #6083ff;
  border-radius: 10px;
}

.PollDetailOption .vote-bar {
  display: flex;
  width: 100%;
  height: 10px;
  background-color: #c2c0c0;
  border-radius: 10px;
  margin: 5px 0;
}

.PollDetailOption .people-container svg {
  margin: auto 10px;
}

.PollDetailOption .person-container {
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
}

.PollDetailOption .person-container > div {
  display: flex;
  align-items: center;
}

.PollDetailOption .person-container p {
  font-size: 0.9rem;
}

.PollDetailOption .member-icon {
  height: 19px;
  width: 19px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: center;
}

.PollDetailOption .member-icon-img {
  max-height: 150% !important;
  max-width: 150% !important;
}
