.GroupsList {
  height: 80vh;
  width: 100%;
  background-color: #ebeff8;
  margin: 20px;
  border-radius: 15px;
  overflow-y: scroll;
  font-family: "Ubuntu";
}

.GroupsList .message-link {
  text-decoration: none;
  color: black;
}
