.LandingPage {
  background-image: url("/src/images/landingpage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LandingPage button {
  height: 50px;
  width: 200px;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  border: 5px solid #e96dfa;
  font-weight: bold;
  color: red;
  background: #97faf9;
  cursor: pointer;
}

@media screen and (min-width: 1217px) and (max-width: 1260px) {
  .LandingPage {
    display: block;
  }

  .LandingPage button {
    margin-top: 30%;
    margin-left: 43%;
    height: 55px;
    width: 290px;
  }
}
