.PhotosDetail {
  max-height: 76vh;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 10px;
  overflow-y: scroll;
}

.PhotosDetail img {
  width: 100%;
  height: calc(300px / 3);
  object-fit: cover;
}
