.MessageInput {
  background-color: #4b4b54;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.MessageInput-container {
  width: 100%;
  background-color: #4b4b54;
}

.MessageInput-container .button-container {
  width: 90%;
  background: #353535;
  border: 2px solid #353535;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.MessageInput-container .button-container > div {
  cursor: pointer;
  margin: 0px 5px;
}

.MessageInput form {
  font-family: "Ubuntu";
  margin: auto;
  border: 2px solid #353535;
  background-color: #353535;
  width: 90%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}

.MessageInput .text-form-container,
.MessageInput .event-form-container,
.MessageInput .poll-form-container,
.MessageInput .image-form-container,
.MessageInput .file-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  color: white;
  margin-bottom: 5px;
}

.MessageInput .event-inputs-container,
.MessageInput .poll-inputs-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 1rem;
}

.MessageInput .event-inputs-container label,
.MessageInput .poll-inputs-container label {
  font-size: 12px;
  margin: 0.2rem 0;
  color: white;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.MessageInput .event-inputs-container input,
.MessageInput .poll-inputs-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Ubuntu";
  border-bottom: 1px solid white;
  background: #353535;
  color: white;
  margin-bottom: 0.2rem;
}

.MessageInput .textarea-auto {
  width: 80%;
  border: none;
  outline: none;
  margin: 0px 10px 0px 10px;
  max-height: 200px;
  font-size: 16px;
  resize: none;
  font-family: "Ubuntu";
  background: #353535;
  color: white;
}

.MessageInput form > button {
  margin: 2px 2px 2px 10px;
  background-color: #6083ff;
  border: none;
  border-radius: 15px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  right: 5px;
}

/************************** Polls ****************************/

.MessageInput .add-option {
  margin: 2px 2px 2px 10px;
  background-color: #6083ff;
  border: none;
  border-radius: 15px;
  color: white;
  width: 100%;
  height: 25px;
  cursor: pointer;
}

.MessageInput .poll-inputs-container .question {
  border-bottom: 1px solid white;
}

/************************** Images ****************************/
label.img-input-label {
  cursor: pointer !important;
}

.MessageInput #img-input {
  display: none;
}

.MessageInput .img-preview {
  max-width: 100px;
  max-height: 100px;
}

/************************** Files ****************************/
label.file-input-label {
  cursor: pointer !important;
}

.MessageInput #file-input {
  display: none;
}

.MessageInput .documents-container {
  display: flex;
  padding: 0.1rem;
  margin: 0 1rem;
}
.MessageInput .documents-container svg {
  min-width: 40px;
  min-height: 40px;
  margin-right: 1rem;
}

.MessageInput .document-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MessageInput .document-details-container a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.MessageInput .document-details-container p {
  margin: 0;
}

.MessageInput .file-name {
  font-weight: bold;
  font-size: 1rem;
}

.MessageInput .file-size {
  font-size: 0.7rem;
}
