.MessagesList {
  font-family: "Ubuntu";
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background-color: #4b4b54;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4b4b54;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
