.ChatRoomDetails {
  width: 100%;
  background: #353535;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-y: scroll;
}

.ChatRoomDetails .all {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.ChatRoomDetails button {
  background-color: #6083ff;
  border: none;
  color: white;
  border-radius: 1rem;
  width: 200px;
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
}

.ChatRoomDetails .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.ChatRoomDetails .button-container button {
  cursor: pointer;
}

@media (min-width: 1224px) {
  .ChatRoomDetails {
    max-width: 300px;
    margin-left: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
